<h1>DailyQuestLog</h1>

<% @logs.each do |log| %>
  <div>
    <p><strong>Content:</strong> <%= log.content %></p>
    <p><strong>Duration:</strong> <%= log.duration %></p>
    <p><strong>Category:</strong> <%= log.category %></p>
    <p><strong>Memo:</strong> <%= log.memo %></p>
    <p><strong>Date:</strong> <%= log.log_date %></p>
    <hr>
  </div>
<% end %>